body{
    padding: 10px 80px;
    background-color: lightgray;
}
header{
    background-color: white;
}
main{
    background-color: white;
}
#nav-bar{
    display: flex;
    flex-direction: row;
    padding: 20px;
}
#logo{
    text-align: left;
    width: 140px;
    height: 80px;
    display: flex;
}
#img-logo{
    top: 1px;
    height: 50px;
    display: inline-block;
    position: relative;
}
#search{
    display: inline-block;
    width: 80%;
    text-align: center;
}
#search-input{
    width: 70%;
    display: inline-block;
    height: 30px;
    margin: 0;
}
#button-search{
    display: inline-block;
    background-image: url('search.png');
    height: 30px;
    margin: 0;
}
.nav-icon{
    top:0;
    width: 20px;
    height: 20px;
}