/*---------General tags----------*/
body{
    padding: 10px 80px;
    background-color: lightgray;
}
header{
    background-color: white;
}
main{
    display: flex;
    flex-wrap:nowrap;
    justify-content: space-between;
    background-color: lightgray;
}
#nav-bar{
    display: flex;
    flex-direction: row;
    padding: 20px;
}
#logo{
    text-align: left;
    width: 140px;
    height: 80px;
    display: flex;
}
#img-logo{
    top: 1px;
    height: 50px;
    display: inline-block;
    position: relative;
}
#search{
    display: inline-block;
    width: 80%;
    text-align: center;
}
#search-input{
    width: 70%;
    display: inline-block;
    height: 30px;
    margin: 0;
}
#button-search{
    display: inline-block;
    background-image: url('search.png');
    height: 30px;
    margin: 0;
}
.nav-icon{
    top:0;
    width: 20px;
    height: 20px;
}
/*----------Information about Video-------------*/
.info-content{
    display: flex;
    flex-direction: column;
}
.video-button{
    top:0;
    width: 20px;
    height: 20px;
}
#user-avatar{
    top:0;
    width: 20px;
    height: 20px;
}
#subscribe-button{
    top:0;
    width: 20px;
    height: 20px;
}
.user-info{
    display: flex;
    justify-content: space-between;
}
.info-bar{
    display: flex;
    justify-content: space-between;
}
.subscribe-info{
    display: flex;
    flex-direction: column;
    justify-content: start;
}
.subscribe-info p{
    margin: 0;
}
.buttons-bar{
    display: flex;
    justify-content: space-between;
}
section{
    flex: 70%;
    background-color: white;
}
#user-avatar{
    width: 50px;
    height: 50px;
}

#recommended-videos{
    flex: 20%;
    background-color: white;
}
#recommended-videos h1{
    font-size: 12px;
}
.thumbnail-video-container{
    margin: 10px;
    border-bottom: 1px solid black;
}
.thumbnail-video-creator{
    font-size: 12px;
}
.thumbnail-video-views{
    font-size: 12px;
}

#thumbnail-videos-controls{
    display:flex;
    justify-content: space-between;
}
#up-next{
    width: 80%;
}
#autoplay{
    width: 20%;
}