/*---------General tags----------*/
body{
    padding: 10px 80px;
    background-color: lightgray;
}
header{
    background-color: white;
}
main{
    flex-wrap:nowrap;
    justify-content: space-between;
    background-color: lightgray;
}
/*-------------Utilities-------*/
.flex{
    display: flex;
    justify-content: space-between;
}
.column{
    flex-direction: column;
}
.start{
    display: flex;
    justify-content: flex-start;
}
.margin0{
    margin: 0;
}
#nav-bar{
    padding: 20px;
}
#logo{
    text-align: left;
    width: 140px;
    height: 80px;
    display: flex;
}
#img-logo{
    top: 1px;
    height: 50px;
    align-items: center;
}
#search{
    display: inline-block;
    width: 80%;
    text-align: center;
}
#search-input{
    width: 70%;
    display: inline-block;
    height: 30px;
}
#button-search{
    display: inline-block;
    background-image: url('search.png');
    height: 30px;
}
.nav-icon{
    width: 20px;
    height: 20px;
}
/*----------Information about Video-------------*/
.video-button{
    width: 20px;
    height: 20px;
}
#user-avatar{
    width: 20px;
    height: 20px;
}
#subscribe-image{
    width: 70px;
    height: 30px;
    border: 0;
}
#subscribe-button{
    border: 0;
}
section{
    width: 68%;
    background-color: white;
}
#user-avatar{
    width: 50px;
    height: 50px;
}

#recommended-videos{
    width: 30%;
    background-color: white;
}
#recommended-videos h1{
    font-size: 12px;
}
.thumbnail-video-container{
    margin: 10px;
    border-bottom: 1px solid black;
}
.thumbnail-video-creator{
    font-size: 12px;
}
.thumbnail-video-views{
    font-size: 12px;
}
#up-next{
    width: 80%;
}
#autoplay{
    width: 20%;
}