/*---------General tags----------*/
body{
    background-color: lightgray;
}

main{
    background-color: lightgray;
}
/*-------------Utilities-------*/
.flex{
    display: flex;
    justify-content: space-between;
}
.flex-center{
    align-items: center;
}
.column{
    flex-direction: column;
}
.start{
    display: flex;
    justify-content: flex-start;
}
.margin0{
    margin: 0;
}
.border0{
    border: 0;
}
.backgroundWhite{
    background-color: white;
}
.font12{
    font-size: 12px;
}
.width80percent{
    width: 80%;
}
.width70percent{
    width: 70%;
}
.width30percent{
    width: 30%;
}

.height30{
    height: 30px;
}
#nav-bar{
    padding: 20px;
}
#logo{
    text-align: left;
    width: 140px;
    height: 80px;
    display: flex;
}
#img-logo{
    top: 1px;
    height: 50px;
}

#button-search{
    background-image: url('search.png');
}

.nav-icon{
    width: 20px;
    height: 20px;
}
/*----------Information about Video-------------*/
.video-button{
    width: 20px;
    height: 20px;
}

.user-avatar{
    width: 50px;
    height: 50px;
}

.thumbnail-video-container{
    margin: 10px;
    border-bottom: 1px solid black;
}
